[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
#plugin_dir=/usr/local/mysql/lib/plugin
plugin_dir=/usr/lib64/mysql/plugin
wait_timeout=180
user=mysql
server-id=1
log-bin=mysqlha
slave-skip-error=all
relay-log=diametriq-relay-bin
innodb_lock_wait_timeout=20
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
lc-messages-dir=/opt/diametriq/share/mysql
character-sets-dir=/opt/diametriq/share/mysql/charsets/
binlog_format=ROW

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
